{% extends "prometheusAgent.yml.j2" %}

{% block name %}{{ project.name }}-github{% endblock %}

{% if item.quota is defined %}
{% set quota_cpu = item.quota.cpu %}
{% set quota_mem = item.quota.mem %}
{% else %}
{% set quota_cpu = "50" %}
{% set quota_mem = "50Mi" %}
{% endif %}

{% block resource %}
    requests:
      cpu: {{ quota_cpu }}
      memory: {{ quota_mem }}
    limits:
      cpu: {{ quota_cpu }}
      memory: {{ quota_mem }}
{% endblock %}

{% block label %}
      target: github
{% endblock %}