apiVersion: v1
kind: Service
metadata:
  name: "{{ project.name }}-{{ ComponentMeta[item].name }}"
  namespace: "{{ project.namespace }}"
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: {{ ComponentMeta[item].port }}
  selector:
    {{ ComponentMeta[item].name }}: {{ project.name }}