{% extends "prometheusRule.yml.j2" %}
{% set ruleName = "github-default" %}

{% block rule %}
  - name: Github - Track Open issue
    rules:
    - alert: Notification - Detect New Issue
      expr: rate(github_repo_open_issues[3m]) > 0
      keep_firing_for: {{ resolve_flapping_time }}
      labels:
        severity: notification
        alert_type: issue
      annotations:
        value: {{ "{{ $value }}" | quote }}
        issue: "有新增issue, 请查看代码仓库"
        influence: "无"
{% endblock %}