apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: "{{ project.name }}-default"
  namespace: "{{ project.namespace }}"
  labels:
    alertmanager: "{{ project.name }}"
spec:
  route:
    groupBy:
    - alertname
    - severity
    - instance
    groupWait: 30s
    groupInterval: 30s
    repeatInterval: 24h
    receiver: default
    continue: false
    routes:
    - matchers:
      - name: severity
        value: High
        matchType: "="
      - name: environment
        value: "uat|dev"
        matchType: "=~"
      receiver: dynamic
    - matchers:
      - name: environment
        value: "prod|Prod"
        matchType: "=~"
      receiver: dynamic
  inhibitRules:
  - targetMatch:
    - name: severity
      value: Warning
    sourceMatch:
    - name: severity
      value: High
    equal:
    - instance
    - alert_type
  receivers:
  - name: default
{% if channel.slack is defined %}
    slackConfigs:
    - apiURL:
        name: "{{ project.name }}"
        key: slack.url
      channel: "{{ channel.slack.channel }}"
      sendResolved: true
      text: {% raw %}'{{ template "slack.default.text" . }}'{% endraw %} 
{% endif %}
  - name: dynamic
{% if channel.smtp is defined %}
    emailConfigs:
    - to: {% raw %}'{{ template "email_to" . }}'{% endraw %} 
      html: {% raw %}'{{ template "email_message" . }}'{% endraw %} 
      sendResolved: true
{% endif %}