apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ project.name }}-{{ item.exporter.name }}"
  namespace: "{{ project.namespace }}"
  labels:
    app: "{{ item.exporter.name }}"
    {{ item.exporter.name }}: "{{ project.name }}"
spec:
  replicas: 3
  selector:
    matchLabels:
      app: "{{ item.exporter.name }}"
      {{ item.exporter.name }}: "{{ project.name }}"
  template:
    metadata:
      labels:
        app: "{{ item.exporter.name }}"
        {{ item.exporter.name }}: "{{ project.name }}"
    spec:
{% block securityContext %}{% endblock %}
      terminationGracePeriodSeconds: 60
      containers:
        - name: "{{ item.exporter.name }}"
          image: "{{ item.exporter.image }}:{{ item.exporter.tag }}"
          imagePullPolicy: "IfNotPresent"
{% block podSecurityContext %}{% endblock %}
          env:
{% if monitor[item.name].env is defined %}
{% for i in monitor[item.name].env.items() %}
            - name: {{ i[0] | upper }}
              value: "{{ i[1] }}"
{% endfor %}
{% endif %}
{% block env %}{% endblock %}
          ports:
            - containerPort: {{ item.exporter.port }}
              name: metrics
              protocol: TCP
          resources:
{% block quota %}
{% endblock %}
          startupProbe:
            failureThreshold: 5
            initialDelaySeconds: 15
            periodSeconds: 10
            tcpSocket:
              port: metrics
          livenessProbe:
            failureThreshold: 5
            initialDelaySeconds: 15
            periodSeconds: 30
            tcpSocket:
              port: metrics
          readinessProbe:
            failureThreshold: 5
            initialDelaySeconds: 15
            periodSeconds: 30
            tcpSocket:
              port: metrics
