apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: "{{ project.name }}-{{ item.0.name }}-{{ item.1.name }}"
  namespace: "{{ project.namespace }}"
  labels:
    project: "{{ project.name }}"
    type: "{{ item.0.name }}"
    target: "{{ item.1.name }}"
spec:
{% block spec %}{% endblock %}
