apiVersion: v1
kind: Secret
metadata:
  name: {{ project.name }}
  namespace: {{ project.namespace }}
stringData:
  smtp.pass: {{ channel.smtp.pass | default("") }}
  slack.url: {{ channel.slack.url | default("") }}