apiVersion: v1
kind: Secret
metadata:
  name: {{ project.name }}
  namespace: {{ project.namespace }}
stringData:
  smtp.pass: {{ channel.smtp.pass | default("") }}
  slack.url: {{ channel.slack.url | default("") }}
  azure-app-clientkey: {{ monitor.azure.app.clientkey | default("") }}
{% if component.prometheus.thanos.store is defined %}
{% if component.prometheus.thanos.location == "azure" %}
  thanos.yml: |
    type: AZURE
    config:
      storage_account_key: "{{ component.prometheus.thanos.store.key }}"
      storage_account: "{{ component.prometheus.thanos.store.account }}"
      container: "{{ component.prometheus.thanos.store.container }}"
      endpoint: "{{ component.prometheus.thanos.store.endpoint }}"
      max_retries: 0
{% endif %}
{% endif %}
