apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ project.name }}-templates
  namespace: {{ project.namespace }}
data:
  common.tmpl: |-
{%- raw %}
    {{ define "Status" }}
    {{- if eq .Status "firing" }}
    触发告警
    {{- end }}
    {{- if eq .Status "resolved" }}
    解除告警
    {{- end }}
    {{ end }}
{% endraw %}
    {{ '{{- define "titlePrefix" }}' }}{{ channel.titlePrefix | default("【Mammdoo告警平台】") }}{{ '{{ end }}' }}

  slack.tmpl: |-
{%- raw %}
    {{ define "slack.default.title" }}
    {{ template "titlePrefix" . }} - {{ .GroupLabels.alertname }}
    {{- end }}

    {{ define "slack.default.text" }}
    {{- if .Alerts.Firing }}
    {{- range .Alerts }}
    Severity: {{ .Labels.severity }}
    Issue: {{ .Annotations.issue }}

    {{- end }}
    {{- end }}
    {{- if .Alerts.Resolved }}
    {{- range .Alerts }}
    Issue: {{ .Annotations.issue }}

    {{- end }}
    {{- end}}
    {{- end }}
{% endraw %}

  email-base.tmpl: |-
{% raw %}
    {{ define "email_to" }}
{% endraw %}
    {{ '{{- $defaultGroup := "' }}{{ notificator.default | map(attribute='email') | join(',') }}{{ '" }}' }}
{% raw %}
    {{- $mailist := "" }}
    {{- if .CommonLabels.cgid }}
{% endraw %}
{% if notificator.customerGroup is defined %}
{% for i in notificator.customerGroup %}
      {{ '{{- if eq .CommonLabels.cgid' }} "{{ i.id }}" {{ '}}' }}
      {{ '{{- $mailist = "' }}{{ i.member | join(', ') }}{{ '" }}' }}
      {{ '{{- end }}' }}
{% endfor %}
{%- endif %}
    {{ '{{- else }}' }}
{% for i in notificator.application %}
      {{ '{{- if eq (lower .CommonLabels.application)' }} "{{ i.id | lower }}" {{ '}}' }}
      {{ '{{- $mailist = "' }}{{ i.owner }}{% if i.member is defined %},{{ i.member | join(', ') }}{% endif %}{{ '" }}' }}
      {{ '{{- end }}' }}
{% endfor %}
    {{ '{{- end }}' }}

{% raw %}
    {{- if $mailist }}
    {{- printf "%s,%s" $mailist $defaultGroup }}
    {{- else }}
    {{- $defaultGroup }}
    {{- end }}
    {{- end }}
{% endraw %}